{% extends "base.html" %}

{% block body  %}


		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="index.html#intro">Welcome</a></li>
							<li><a href="index.html#one">Explore</a></li>
							<li><a href="learnmore.html#three">Learn More</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

	<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1 style="display:inline;">SII</h1>
							<h1 style="display:inline;">-</h1>
							<h1 style="display:inline;">USTHB</h1>
							<p style="display:inline;">.Github.io</p>
							<p>A website for sharing SII Master's materials.<br/>
							This is open for anyone to contribute.<br>
							<!-- 
                                                        <b>1/</b> Don't ask about viruses... you're embarassing yourself.<br>
							<b>2/</b> <em>"Why is it in english?"</em> : Da Hell dude! That's another question you shouldn't be asking.<br>
                                                        --!>
							</p>
							<ul class="actions">
								<li><a href="learnmore.html" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>


				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a class="image"><img src="images/S1.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>S1</h2>
									<p>Download all Documents related to the First Semester.</p>
									<ul class="actions">
										<li><a href="One.html" class="button">Browse</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="images/S2.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>S2</h2>
									<p>Download all Documents related to the Second Semester.</p>
									<ul class="actions">
										<li><a href="Two.html" class="button">Browse</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="images/S3.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>S3</h2>
									<p>Download all Documents related to the Third Semester.</p>									<ul class="actions">
										<li><a href="Three.html" class="button">Browse</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>


{% endblock %}

