{% extends "base.html" %}

{% block body  %}

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="thetitle"><b>SII-USTHB</b></a> .Github.io
				<nav>	
					<ul>
						<li><a href="index.html#intro">Welcome</a></li>
						<li><a href="index.html#one">Explore</a></li>
						<li><a href="https://github.com/sii-usthb/sii-usthb.github.io">Github Project</a></li>
					</ul>
				</nav>
			</header>


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Semester {{ semester }}</h1>

						

		<!-- Table -->
			<section>
				<div class="table-wrapper">
					<table>
						<thead>
						</thead>
						<tbody>
						{% for name, elem in modules.items()|sort %}
							<tr>
								<td>{{ name }}</td>
								{% for i in ['cours','td','tp','interoExam','all'] %}
								<td><a href="{{elem[i]}}" class="button {% if not elem[i]%} disabled {% endif %} icon fa-download">{{ i }}</a></td>
								{% endfor %}
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
						</tfoot>
					</table>
							<a href="{{ everything }}" class="button fit icon fa-download">Everything</a>
				</div>

			
			</section>

			</div>
{% endblock  %}

